<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aula.victoriozansavio.umlp5"
    android:versionCode="2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CasoDeUsoActivity"
            android:label="Ferramenta UML"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.AlterarSenhaActivity" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.ClasseActivity" />
        <activity android:name=".activity.ExercicioActivity" />
        <activity android:name=".activity.HomePageAlunoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RecuperarSenhaActivity" />
        <activity android:name=".activity.SubmissoesActivity" />
        <activity android:name=".activity.SucessoCadastroActivity" />
        <activity android:name=".activity.SeusExerciciosActivity" />
        <activity android:name=".activity.BuscaProfessorActivity" />
        <activity android:name=".activity.HomePageProfessorActivity" />
        <activity android:name=".activity.CorrecaoActivity">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
    </application>

</manifest>